$text_color: #414141;
$text_white: #fff;
$text_gray: #b9b9b9;
$fon_color: #fefefe;
$light_orange_color: #f3af9d;
$orange_color: #e8663c;
$gray_color: #bababa;
$light_gray_color: #f2f2f2;

$abaut_green_border_color: #97c501;
$abaut_red_border_color: #eb5439;
$abaut_orange_border_color: #f9b318;
$abaut_blue_border_color: #4d8fcb;

$abaut_green_fon_color: #effeb9;
$abaut_red_fon_color: #fbcbc1;
$abaut_orange_fon_color: #ffe9ad;
$abaut_blue_fon_color: #d1e4f3;