/*---------------------about content------------------*/

.about {
    padding-bottom: 40px;
    padding-right: 30px;

    p {
        margin-top: 25px;
    }

    &_img {
        height: 230px;
        width: 230px;
        margin: 28px 15px 0 0;
        float: left;
    }
    & .d {

        &_position {
            float: left;
            height: 26px;
            width: 23px;
            margin: 0 5px 5px 0;
            font-size: 36px;
            line-height: 34px;
            font-weight: bold;
            color: #e8663c;
        }

    }

    blockquote {
        border-left: 8px solid $orange_color;
        margin-right: 0;

        & p {
            margin-left: 20px;
            font-size: 12px;
            line-height: 18px;
            font-style: italic;
        }
    }

    .alert_text {
        height: 60px;
        width: 100%;
        padding: 15px;
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
        & p {
            margin: 0;
        }
    }
    .green {
        border: 1px solid $abaut_green_border_color;
        background-color: $abaut_green_fon_color;
        color: $abaut_green_border_color;
    }
    .red {
        border: 1px solid $abaut_red_border_color;
        background-color: $abaut_red_fon_color;
        color: $abaut_red_border_color;
    }
    .yellow {
        border: 1px solid $abaut_orange_border_color;
        background-color: $abaut_orange_fon_color;
        color: $abaut_orange_border_color;
    }
    .blue {
        border: 1px solid $abaut_blue_border_color;
        background-color: $abaut_blue_fon_color;
        color: $abaut_blue_border_color;
    }
}